/* Atur background menjadi hitam */
body{
	background: #101010;
}

/* Mengatur bentuk dan posisi pada gambar bumi */
#bumi{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,0);
	background: url('earth.jpg');
	background-size: auto 100%;
	animation: animasiBumi 13s linear infinite;
	z-index: 2;
}

/* Menggerakan gambar bumi dari kanan ke kiri, agar bumi terlihat seperti sedang berputar */
@KeyFrames animasiBumi{
	0%{background-position: 0%;}
	100%{background-position: 300%;}
}

/* Menambah lapisan atmosfer */
#bumi::after{
	content: '';
	height: 214px;
	width: 214px;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	left: -7px;
	top: -7px;
	border-radius: 50%;
}

/* Mengatur bentuk dan posisi pada gambar bulan */
#moon{
	height: 58px;
	width: 58px;
	position: absolute;
	right: 20%;
	top: 20%;
	border-radius: 50%;
	background: url('moon.jpg');
	background-size: 58px 58px;
	animation: animasiBulan 6s linear infinite;
}

/* animasi untuk menggerakan bulan */
@KeyFrames animasiBulan{
	0%{
		right: 20%;top: 20%;height: 40px;width: 40px;z-index: 3;
	}
	4%{
		right: 21%;top: 21%;
	}
	30%{
		height: 80px;width: 80px;
	}
	46%{
		right: 69%;top: 69%;
	}
	50%{
		right: 70%;top: 70%;height: 40px;width: 40px;
	}
	54%{
		right: 69%;top: 69%;
	}
	57%{
		z-index: 1;
	}
	80%{
		height: 30px;width: 30px;
	}
	96%{
		right: 21%;top: 21%;z-index: 1;
	}
	100%{
		right: 20%;top: 20%;height: 40px;width: 40px;z-index: 3;
	}
}